/*__ Button component __*/
.btn{
    width:min-content;
    height:3em;
    background-color: var(--green-dark);
    color:white;
    border:none;
    box-shadow: 0px 3px 4px 0px #46464640;
    border-radius: 2.5em;
    margin:1.5em;
    font-size: 1.5em;
    transition: 0.1s
  }
  
  .btn:active {
    box-shadow: 0px 3px 4px 5px #46464640 inset;
  }