/*__ Header component __*/

/* Dropdown Button */
.header{
    min-width: var(--width-minimum);
  }
  .header--menu-button {
    border: none;
    margin-left:2em;
    
  }
  
  .header--menu-img{
    width:45px;
    height:45px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .header--menu {
  
    justify-content: left;
    display: inline-block;
    margin:1em;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .header--menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .header--menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .header--menu-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .header--menu:hover .header--menu-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .header--menu:hover .header-menu-button {background-color: #ddd;}
  
  
  .header--title{
    font-family:"Bowlby One SC" , sans-serif;
    color:var(--green-dark);
    margin: 1em;
  }
  