/*__ Login page component __*/
.lp{
    display: flex;
    justify-content: center;
  }
  
  .lp--title{
    text-align: left;
    padding:0em 3em 1em 3em;
    font-weight: 700;
    display: block;
  }
  
  .lp--form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  #lp--checkbox{
    display: inline;
  }