*{
  font-family: Inter,sans-serif;
  --green-dark : #4AAC65;
  --green-dark-shaded : #459d5e;

  --green-light : #89E0A2;
  --font-large: 3em;
  --font-medium: 1.5em;



}
/*__ Large header component __*/

a{
  text-decoration: none;
  color:#1D62F0;
}
a:hover{
  color:#1d63f0d3;

}

.hl--menu-wrapper{
  display: flex;
  margin-top: 5%;
}

/* Dropdown Button */
.hl-menu-button {
  padding: 16px;
  border: none;
  display: inline;
  margin-left:2em;
}

.hl--menu-img{
  min-width:50px;
  max-width: 200px;
  height:50px;
  
}

/* The container <div> - needed to position the dropdown content */
.hl--menu {
  justify-content: left;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.hl--menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.hl--menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.hl--menu-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.hl--menu:hover .hl--menu-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.hl--menu:hover .hl-menu-button {background-color: #ddd;}


.header-large--title{
  font-family: Bowlby One SC , sans-serif;
  color:var(--green-dark);
  font-size: var(--font-large);
}

/*__ Text Field component __*/

.text-field-input{ 
  width:15.5em;
  height: 1.5em;
  padding:1em;

  font-size: var(--font-medium);
  border-radius: 5px;
  border:none;
  background-color:var(--green-light);

  margin:1em;
  
}

.text-field-input::placeholder{
  position: absolute;
  color:black;

  /* Center the sub-titles */
  left: 50%;
  transform: translateX(-50%);

}
/*__ Button component __*/
.button{
  width:min-content;
  height:3em;
  background-color: var(--green-dark);
  color:white;
  border:none;
  box-shadow: 0px 3px 4px 0px #46464640;
  border-radius: 2.5em;
  margin:1.5em;
  font-size: 1.5em;
  transition: 0.1s ease-in-out
}

.button:active {
  background-color: var(--green-dark-shaded);
}

/* Two possible designs for buttons */
.button-large{
  min-width: 15em;
}

.button-small{
  min-width: 10em;
}

/*__ Login page component __*/
.login-page--title{
  text-align: left;
  padding:0em 3em 1em 3em;
  font-weight: 700;
  

}
