.case-review{
    --gray : #7E857D;
    background-color: #CAF1D4;
    height: 125px;
    border-top: 2px solid var(--gray);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap:5px;
}

.case-review--frame{
    /* border:1px solid red; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.case-review--top{
    display:flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1 / 1 ;
    grid-column: 2 / 3;
    max-width: 100%;;
}

.case-review--conflict-name{
    margin: 0;

}

.case-review--info{
    grid-row: 2 / 2;
    grid-column:  2 / 2;
    display: flex;
    justify-content: space-between;

}

.case-review--info-date{
    color:var(--gray);


}

.case-review--options{
    grid-row: span 2;
    grid-column: 3 / 3 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.case-review--options-container{
    position: relative;
    display:flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5em;
    border:none;
}

.case-review--options-box{
    /*Invisible div on top of the lines*/
    padding:1.25em;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index:1;
    cursor:pointer;

}
.case-review--line{
    height: 4px !important;
    padding:0px !important;
    width:30px !important;
    background-color: #4DAA63 !important;
    transition:  300ms ease-in-out;
}

.case-review--options-btn{
    background:transparent;
    border: none;
    background-color: var(--green-light);
    border-radius: 10px;
    margin: 1em 0;
    transition: 300ms ease-in-out;
    padding:0.5em 0;/*DO NOT REMOVE , curcial for making the button fully responsive*/
    width: 100%;
    font-weight: var(--weight-bold);
    font-size: 14px;
}

.case-review--options-btn{cursor: pointer;}
