.case-review{
    --gray : #7E857D;
    background-color: #CAF1D4;
    height: 125px;
    border-top: 2px solid var(--gray);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap:5px;
}

.case-review--frame{
    /* border:1px solid red; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.case-review--top{
    display:flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1 / 1 ;
    grid-column: 2 / 3;
    max-width: 100%;;
}

.case-review--conflict-name{
    margin: 0;

}

.case-review--info{
    grid-row: 2 / 2;
    grid-column:  2 / 2;
    display: flex;
    justify-content: space-between;

}

.case-review--info-date{
    color:var(--gray);


}

.case-review--options{
    grid-row: span 2;
    grid-column: 3 / 3 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.case-review--options-container{
    position: relative;
    display:flex; 
    flex-direction: column;
    justify-content: flex-end;

    padding: 1.5em;
    cursor: pointer;
    border:none;
}

.case-review--line{
    height: 4px !important;
    padding:0px !important;
    width:30px !important;
    background-color: #4DAA63 !important;
    transition:  400ms ease-in-out;
}

.case-review--options-btn{
    background:transparent;
    border: 1px solid var(--green-dark);
    margin: 2em 0;
    transition: 300ms ease-in-out;
    padding:0;/*DO NOT REMOVE , curcial for making the button fully responsive*/
}
