.case-preview{
    --gray : #7E857D;
    background-color: #CAF1D4;
    height: 125px;
    border-top: 2px solid var(--gray);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap:5px;
}

.case-preview--frame{
    /* border:1px solid red; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.case-preview--top{
    display:flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1 / 1 ;
    grid-column: 2 / 3;
    max-width: 100%;;
}

.case-preview--conflict-name{
    margin: 0;

}

.case-preview--info{
    grid-row: 2 / 2;
    grid-column:  2 / 2;
    display: flex;
    justify-content: space-between;

}
.case-preview--info-case{


}
.case-preview--info-date{
    color:var(--gray);


}

.case-preview--options{
    grid-row: span 2;
    grid-column: 3 / 3 ;
}
.case-preview--options-container{
    position: relative;
    padding: 1.5em;
    cursor: pointer;
    display:inline;
    background-color: transparent;
    border:none;
}

.case-preview--line{
    height: 4px !important;
    padding:0px !important;
    width:30px !important;
    background-color: #4DAA63 !important;
}