.dd{
    --arrow-width: 10px;
    --grey-transparent:rgba(128, 128, 128, 0.647);
    box-shadow: 0px 2px 6px 0px #87878772;
    display: inline-block;
    color:var(--grey);
    padding-top:0.75em ;
    text-align: left;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    
}

.dd::before{
    content: '';
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    
    background-color: transparent;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width:calc(var(--arrow-width)*3.25 );/*3.25 found by trial and error*/
    z-index: -1;
    
}

.dd--arrow{
    --arrow-size : 10px;
    width:var(--arrow-size);
    height:var(--arrow-size);


    /* margin: 100% calc(var(--arrow-width)*0.5) 0 0; */

    border:3px solid var(--grey);
    display: inline;
    border-radius: 2px;
    border-top: transparent;
    border-left: transparent;
    transition: 250ms;
    
    position: absolute;
    top:35%;
    right:calc(var(--arrow-width)*1.2 );
    transform:rotate(45deg) translateY(-50%) ;
    z-index: -1;
}
.dd:hover .dd--arrow{
    border-color:white;
}

.dd:hover::before{
    background-color:var(--grey-transparent);
}

.dd--btn{
    position: relative;
    padding:15px;
    margin:10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.dd--container{
    display: flex;
}


.dd select{
    transition:  300ms ease-in-out;
    color:var(--grey-transparent);
    border: none;
    outline: none;
    min-width: 40px;
    padding-bottom: 1em 1em;
    padding-right: calc(var(--arrow-width)*3.5 );
    padding-left: 15px;

    /* padding: 0em 2em 1em 1em; */
    background-color: transparent;
    font-weight: 900;
    color: var(--green-dark);
    font-size:x-large;

}

.dd select{
    font-size:1.1em;
    color:var(--grey);
    font-weight: var(--weight-medium);
}


