.dd{
    box-shadow: 0px 2px 6px 0px #8787874d;
    display: inline-block;
    color:var(--grey);
    padding-top:0.75em ;
    text-align: left;
    border-radius: 4px;
    position: relative;
    /* margin-top: 25px; */
    
}

.dd--arrow{
    width:10px;
    height:10px;
    margin:0.3em;
    margin-top:0.4em ;

    border:3px solid var(--grey);
    display: inline;
    border-radius: 2px;
    border-top: transparent;
    border-left: transparent;
    transition: 250ms;
    
    position: absolute;
    top:1px;
    right:5px;
    z-index: -1;
    font-size: xx-large;
    font-weight: 800;
}


.dd--btn{
    position: relative;
    padding:15px;
    margin:10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.dd--container{
    display: flex;
}


.dd select{
transition:  300ms ease-in-out;
color:var(--grey);
border: none;
outline: none;
padding: 0em 2em 1em 1em;
background-color: transparent;
font-weight: 900;
color: var(--green-dark);
font-size:x-large;

}

.dd select{
    font-size:1.1em;
    /* width:20em; */
    color:var(--grey);
    font-weight: var(--weight-medium);
}


