/* __Shuttle switch component__ */
.gs{
    display:flex;
    justify-content: space-between;
    background:var(--green-light-shaded);
    border-radius: 5px;
    position: relative;
    width:12.5em;
    margin:0.5em 0 0.5em 50%;

    transform: translateX(-50%);

  }
  
  .gs--btn{
    font-weight:var(--weight-semi);
    border:none;
    font-size:10px;
    z-index: 1;
    padding: 1em;
    width: 10em;
    border-radius: 5px;
    
    min-width: 5em;
    max-height:2.5em;
    margin:0.1em;
    flex-wrap: wrap;
    cursor: pointer;
    background:none;
    
  }

  .gs--btn-content{
    transform: translateY(-100%) ;
    white-space: nowrap;
    transition:300ms
    /* border-top: 1px solid */
  }
  #gs--pa{
    /* margin-left: 2.5em; */
  }
  
  #gs--pb{
    /* margin-right: 2.5em; */
  }
  
  .gs-selector{
    padding: 0.7em 3em 0.7em 3em;
    background: var(--green-dark-shaded);
    position: absolute;
    top:2px;
    left:0;
    border-radius: 5px;
    box-shadow: 0px 3px 1px 0px #0000000A;
    transition: 300ms;
    width:min-content;
  }