.box-icon-user-image{
    --size:44px;
    position: relative;
    width: var(--size);
    height: var(--size);
    background-color: var(--green-light-shaded);
    clip-path: circle(50%);
  }
  .box-icon-user-image-setting{
    --size:20vh;
    position: relative;
    width: var(--size);
    height: var(--size);
    background-color: lightgray;
    clip-path: circle(50%);
    margin: 20px;
    
  }

  .icon-head{
    position: absolute;
    background-color: var(--green-dark-shaded);
    width: inherit;
    height: inherit;
    clip-path: circle(40% at 50% 90%);
  }
  .icon-body{
    position: absolute;
    background-color: var(--green-dark-shaded);
    display: block;
    left: 50%;
    top:35%;
    transform: translate(-50%, -70%);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    /* clip-path: circle(% at 50% 10%); */
  }