.ib{
    position: relative;
    text-align: left;
    height: fit-content;
    width: 12.5em;;
    background: linear-gradient( whitesmoke, rgba(233, 227, 227, 0.866));
    font-size: var(--font-medium);
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width:250px;

    display: flex;
    align-items:center;
    justify-content: left;
    flex-direction: column;

    transition: margin 0.5s , scale 0.5s ;
}


.ib--btn{
    min-width: 4.5em;
    background-color: var(--green-dark) ;

    margin:0 4px 10px 4px;
    

    border: none;
    border-radius: 40px;
    width: fit-content;
    height:50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.472);
    font-size: large;
    font-weight: 400;
    transition: all 1s;
    color: whitesmoke;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
}
.ib--btn:active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.811);
    background-color:  var(--green-dark);
}
.tr{
    display: flex;
    justify-content:space-between;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
    align-items: end;
}
.tr-key{
    font-size: large;
    /* font-weight: 500; */
}
.tr-value{
    font-size: small;
    /* margin-left: 15px; */
    
}

.list-box{
    padding-right:40px;
}
