.ib{
    position: relative;
    text-align: left;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    background-color: var(--green-light);
    font-size: var(--font-medium);
    border-radius: 10px;

    display: flex;
    align-items:center;
    justify-content: left;
    flex-direction: column;

    transition: margin 0.5s , scale 0.5s;
}
.ib--start{

    background-color: rgb(248, 243, 243);
    margin-bottom: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height:50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.472);
    font-size: large;
    font-weight: 600;
    transition: all 1s;
}
.ib--start:active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.811);
    background-color: var(--green-dark);
    
}
