.loading-bar--task{
    color:black;
    text-align: center;
    font-size: 2em;
    font-weight:300;
    width: fit-content;
    display: block;
    user-select: none;
}
.loading-bar--bar{
    position: relative;
    display: flex;
    width: 30vh;
    height: 2em;
    background-color: var(--green-light);
    border-radius:5em;
    margin-left: 50%;
    transform:translateX(-50%);
    border:3.5px solid var(--green-light);
    

}
.loading-bar--bar::after{
    content: attr(value)'%';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-25% , -50%);
    color:white;
    font-size: 1.5em;
    font-weight: var(--weight-bold)
    
}

.loading-bar--filler{
    width: 100%;
    height: 100%;
    background-color: var(--green-dark);
    border-radius:inherit;
    box-sizing: border-box;
    
}
@keyframes loading {
    0%, 80%, 100% {
      transform: scaleY(0.4);
    }
    40% {
      transform: scaleY(1.0);
    }
  }
  @keyframes loading {
    0%, 80%, 100% {
      transform: scaleY(0.4);
    }
    40% {
      transform: scaleY(1.0);
    }
  }

  .loading-dots {
    display: flex;
    position: relative;
    justify-content: center;
    align-items:end;
    margin: 0;
  }
  
  
  
  .dot {
    background-color: #333;
    border-radius: 50%;
    width: 2px;
    height: 8px;
    margin: 0 2px;
    animation: loading 1.2s infinite ease-in-out;
    margin-bottom: 10px;

  }
  
  .dot:nth-child(2) {
    animation-delay: -1.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: -1.0s;
  }
  .section-loading-bar{
    position: absolute;
    z-index: 10;
    
    left: 50%;
    transform:translateX(-50%);
    top: 30%;

    display: flex;
    justify-content: center;
    background-color: rgba(203, 190, 190, 0.133);
    z-index: 2;
  }
  .box{
    width: 100%;
    z-index: 10;
    
  }

  
  
 
  
