/* __Message component__ */
.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px;
    width: 100%;
    max-width: 10;
  }
  .message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0px;
  }
  
  .message-content{
    height: min-content;
    padding: 0.5em;
    margin:0.6em;
    border-radius:15px;
    width:max-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    
  }
  
  .message--text{
    font-weight: var(--weight-semi);
    font-size: 0.8em;
    margin:0;
    padding-right: 5px;
  }
  #message--title{
    text-align: right;
    margin: 0px;
    
  }
  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    width: 100px;
  }
  .message--time {
    margin: 0px;
    font-size: 0.4em;
  }


  .message-container{
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-wrap;
    
  }