.popUpBox{
    position: absolute;
    width: 100%;
    background-color: rgb(196, 191, 191);
    z-index: 1000;
    /* padding-right: 10px; */
    border-bottom-left-radius:5% ;
    border-bottom-right-radius:5% ;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
}

.popUpContiner{
    position: absolute;

    top: 50%;
    left: 55%;
    transform: translate(-50%);
    background-color: rgb(241, 237, 237);
    z-index: 1000;
    width: 100%;
    height: fit-content;
    opacity: 0.9;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);

    
}

.key-pop{
    margin-right: 5%;
    display: block;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 3px;
    text-decoration: underline;
    
}
.list-prop{
    margin: 0;
    padding: 3px;
    list-style: none;

}
.value-pop{
    color: #39814d;
    font-weight: 700;
    margin-left: 7px;
    margin-bottom: 5px;

}
.title-full-name{
    font-size: xx-large;
    font-weight: 700;
    color: #51a96a;
    margin-left: 5px;
}