.search-bar--container{
  position: relative;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 1.25em;

}

.search-bar--in{
  border: none;
  outline: none;
  padding:  0.5em;

}
.search-bar--btn{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition:cubic-bezier(0.18, 0.89, 0.4, 1.33) 500ms , color 0ms;
  color:transparent;
  background-color: var(--green-dark) ;
  border-radius: 5px;
  border:none;

  /*Transitioned properties*/
  visibility: hidden;
  width: 0;

}
.search-bar--in:not(:placeholder-shown) ~ .search-bar--btn{
  width: 25%;
  visibility:visible;
  color: black;
  font-size: 1em; 
}
