/*__ Text Field component __*/

.text-field-input{ 
  position: relative;
  padding: 1em;
  font-size: var(--font-medium);
  border-radius: 5px;
  border:none;
  background-color:var(--green-light);
  transition: all 0.3s, border-bottom 0.35s ease-in;
    
}

.text-field-input::placeholder{
  position: absolute;
  color:whitesmoke;

  /* Center the sub-titles */
  left: 50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

/*A diffrent version for left align*/

.text-field-input-la{ 
  box-sizing: border-box;
  position: relative;
  padding: 1em;

  font-size: var(--font-medium);
  border-radius: 5px;
  border:none;
  background-color:var(--green-light);
    
}

.text-field-input-la::placeholder{
  color:whitesmoke;
}
.text-field-input-la::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.text-field-input:focus{
  background-color: whitesmoke;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-bottom: 10px solid var(--green-dark);
  outline: none;
}


