.th{
    margin: 15px;
    /* width: 15em;; */

}
.th--title{
    margin: 20px;
    user-select: none;
    text-align: center;
}

.th--box{
    display: grid;
    grid-template-columns: 1fr 10px;

    position: relative;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    /* align-items: center; */
    
    font-size: x-large;
    background-color: rgba(241, 242, 240, 0.199);
    border-radius: 7px;
    box-shadow: -2px 0.6px 2px rgba(102, 102, 100, 0.324);
    color: var(--green-dark);
    font-weight: 700;
    font-size: x-large;  
}

.th--switch{
    margin-left: 5px;
    display: flex;
    justify-content: end;
    height: inherit;
    position: absolute;
    right: 0;
}
.th--switch-arrow{
    position: absolute;
    height: 60px;
    border-style:none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    transition: all 0.2s rotate 0.7s;
    color: var(--green-light);

}
.th--switch-arrow:active{
    box-shadow: 2px 1px 0px 4px rgba(0, 0, 0, 0.04) inset;
    font-weight: 300;
    rotate: 180deg;
}
 
.th--info{
    display: flex;
    justify-content: center;
}
