/* __Toolbar component__ */


.tb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:4em;
  padding-top: 1.5em;
  background-color: #89E0A240;

}

.tb--btn{
  position: relative;
  padding: 1em;
  width: 1.5em;
  height: 1.5em;
  margin:1em;
  margin-top:0;
  cursor: pointer;

}
.tb--btn::after{
  content:'';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.326);
  transition:linear 100ms;
  width: 0;
}
.tb--btn:hover::after{
  width: 100%;
}


.tb--btn-img{
  width:100%;
  margin: 50% 0% 0% 50%;
  transform: translate(-50% , -50%) ;
}

.tb--title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:0 2em;
}

.tb--name{
  color:var(--green-dark);
  font-size: var(--font-small);
}

.tb--id{
  margin: 10px;
  font-size: var(--font-small);
  color:var(--green-dark);
  transform:translateY(-100%);
  font-weight:100;
}
