.users-list{
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    text-align: center;
}
.users-list::-webkit-scrollbar{
    display: none;
    background-color: #80808056;;
}


.row{
    display: flex;
    justify-content: flex-start;
    font-family:'Roboto', sans-serif;
    font-weight:800;
    font-size:large;
    margin-bottom: 5px;
    align-items: center;
    color: var(--green-dark);
    

}
.row:hover{
    font-weight: 900;
    font-size: large;
    background-color: rgba(219, 209, 209, 0.4);
    border-radius: 5px;
}
.row:active{
    font-weight: 900;
    font-size: large;
    background-color: rgba(145, 130, 130, 0.4);
    border-radius: 5px;

}
.attribute{
    background-color: #d13d3d;
    margin-right: 10px;
    margin-left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}
.users-list--side{
    --size : 20px;
    height :var(--size);
    width :var(--size);

    font-size:medium;
    font-weight:200;
    border-top: 0px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 2px solid;
    border-radius: 50%;
    margin:2px;
    margin-right: 5px;
}

.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .checkmark_stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: var(--green-dark-shaded);
    left: 11px;
    top: 6px;
  }
  
  .checkmark_kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: var(--green-dark-shaded);
    left: 8px;
    top: 12px;
  }