:root{
    --message-color:rgb(217,217,217);
    
    --A-color:rgb(217,217,217);
    --B-color:white;
    --M-color:black;

    --M-font-color: white;


}
.spacer{
    min-width: 3em;
    min-height: 3em;
}

.B-circle{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background:var(--B-color);
    color : black;
    height: 3em;
    min-width:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:1em;

}
.message{
    background:var(--message-color);
    border-radius: 1em;
    margin:1em;
    padding: 1em;
}
.content{
    display: flex;
    justify-content: center;

}