
:root{
    --message-color:rgb(217,217,217);
    
    --A-color:rgb(217,217,217);
    --B-color:white;
    --M-color:black;

    --M-font-color: white;


}
.spacer{
    min-width: 3em;
    min-height: 3em;
}

.circle{
    background:var(--M-color);
    color: var(--M-font-color);
    height: 3em;
    min-width:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:1em;
    margin-left: 3em;

}
.message{
    background:var(--message-color);
    border-radius: 1em;
    margin:1em;
    padding: 1em;
    max-width:10em;
}
.msg{
    
    left:0px;
    bottom:0px;
    width : 1180px;
    display: inline-block;
    align-self: flex-end;
}

.to{
    width:250px;
}  

/* .input-fields{
    position: absolute;
    bottom: 0;
    left: 0;    
    display:block;
} */

.footer{
    position:fixed;
    margin-bottom:5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.user{
    padding: 8px;
    margin:  15px;
    float:left;
    border: 2px solid rgb(0, 89, 255);
    border-radius: 4px; 
}
.Login{
    margin-top: 20px;
}
nav .messages{
    height:750px; 
    width:100%;

}
nav .messages{
    overflow:hidden;
    overflow-y:scroll;
}

/* .messages{

} */
