.SearchIcon{
    
    margin-right: 10px;
  }
  
  .PersonAddIcon{
    margin-left: 10px;
  }
  
  .spacing {
    display: none;
  }

.form {
    position: relative;
    z-index: 1;
    background: #1b03038c;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(108, 105, 105, 0.2), 0 5px 5px 0 rgba(90, 88, 88, 0.24);
  }

  
  
