<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <body> Create Group TEST
    <form action="/create_group" method="POST">
        <input type="text" name="groupname" value="groupname">
        <input type="text" name="desc" value="desc">
        <input type="text" name="owner" value="naor">
        <input type="text" name="maxusers" value="5">
        <button type="submit">Login</button>
    </form>
    
</body> -->

<!-- <body> Add User To Group TEST
    <form action="/add_user_to_group" method="POST">
        <input type="text" name="username" value="naor">
        <input type="text" name="groupId" value="203232417742849">
        <button type="submit">Login</button>
    </form>
    
</body> -->

<!-- <body> Group Message TEST
    <form action="/group_message" method="POST">
        <input type="text" name="me" value="naor">
      
        <input type="text" name="msg" value="blabla">

        <input type="text" name="groupid" value="203232410402817">
        
        <button type="submit">Login</button>
    </form>
    
</body> -->
<body>
    <form action="/one_to_one_message" method="POST">
        <input type="text" name="me" value="shai">
      
        <input type="text" name="msg" value="blabla">

        <input type="text" name="to" value="naor">
        
        <button type="submit">Login</button>
    </form>
    
</body>
</html>