.aup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.aup--header{
    width: 100%;
}
#aup--m-title{
    text-align:center;
    font-size:2em;
    color:black;
    font-weight: var(--weight-medium);
}

.aup--title{
    color:black;
    font-size: 2em;
    font-weight: var(--weight-bold);
    text-align:left;
}

.aup--grid{
    /* background-color:red; */
    display:grid;
    grid-template-columns: 5;
    grid-template-rows:5 ;
    width: 75%;
    row-gap:2em;
    column-gap:1em ;
    min-width: auto;
    min-height: auto;
}

.aup--grid-row{
    grid-column:span 5 ;
    grid-row: span 1;
}


.aup--grid-phone-prefix{
    grid-column: span 3;
    grid-row: span 1;
}

.aup--grid-phone-number{
    grid-column: span 2;
    grid-row: span 1;

}

.aup nav{
    display:flex;
    justify-content:space-between;
    margin-top:4em;
}
.aup-user-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* .warning-to-plat{
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: red;
} */
