.aup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20em;
}

.aup--title{
    color:black;
    font-size: 2em;
    font-weight: var(--weight-bold);
    text-align:left;
}

.aup--grid{
    display:grid;

    grid-template-columns: 3;
    grid-template-rows:5 ;
    width: 75%;
    row-gap:3em;
    column-gap:1em ;
    min-width: auto;
    min-height: auto;



}

.aup--grid-row{
    grid-column:span 3 ;
    grid-row: span 1;
}


.aup--grid-phone-prefix{
    grid-column: span 1;
    grid-row: span 1;
}

.aup--grid-phone-number{
    grid-column: span 2;
    grid-row: span 1;

}

.aup nav{
    display:flex;
    justify-content:space-between;
    margin-top:2em;
}
.box-phone-prefix{
    display: flex;
    width: 25em;
    

}