
/* __Chat page component__ */

/*Desktop view*/
@media (max-width:10000px) {
  .cp{
    width: 40em;
    border:1px solid #80808052
  
  } }
/*Mobile view*/
@media (max-width:700px) {
  .cp{
    width: 100%;
    min-width: 20em;
    padding: 0; 
    margin: 0;
    border:none;
  } }

.cp--shader{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}
.cp--shader-msg{
  position: absolute;
  top:50%;
  left: 20%;
  right: 20%;
  transform:translateY(-50%);
  
  padding:1em;
  border-radius: 10px;

  background-color: white;

  text-align: center;
}

.cp--footer{
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:white;
}

.cp--send{
  top:50%;
  left: 50%;
  position: absolute;
  transform:rotate(0.6125turn) translateX(80%) translateY(10%) ;
  font-size:var(--font-large);
  user-select: none;

}

.cp--input{
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  padding-left:0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  padding-top: 2em;
  height: min-content;
}

.cp--input-btn {
  margin-top:1em;
  width: 7.5em;
  height: 5em;
  margin-left: 1em;
  border-radius:50%;
  transform: scale(0.8)translateY(-50%);
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: var(--green-dark);
  color: #fff;
  font-size: 0.6em;
}
.cp--input-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cp--input-btn:hover {
  background: var(--green-dark-shaded);
}

.cp--input-btn:active {
  background: var(--green-dark-shaded);
  top: 2px;
}
.cp--input-btn:before {
  text-transform: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.cp--input-box{
  width:100%;
  padding: 0.0em 1em 0.0em 1em;
  height: 1.2em;
  min-height: 1em;
  max-height: 5em;
  border-radius: 1.5em;
  border:2px solid #828282;
  scroll-behavior: auto;
  resize: none;
  overflow: hidden;
  font-size: 1.2em;
  display: inline;


}

.cp--help{
  color:black;
  display: inline;
  margin:10px;
  margin-top:0px ;
  user-select: none;
}

.cp--help:hover{
  color:var(--blue-anchor);
  cursor: pointer;

}