/*__ Login page component __*/
.lp{
  padding-bottom: 2em;
  
}
.lp--title{
  text-align: left;
  font-weight: 700;
  display: block;
  margin-left: 1em;
  /* margin-top:4em; */
}

.lp--form{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 5px; */
}

#lp--checkbox{
  display: inline;
}