/*__ Login page component __*/
.lp--title{
  text-align: left;
  font-weight: 700;
  display: block;
  margin-left: 1em;
  margin-top:4em;
}
/* @media(min-width:750px){.lp--title{transform: translate(5em);}} */

.lp--form{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#lp--checkbox{
  display: inline;
}