.sp{
    --frame-size :600px ;
    --btn-rotation : 90deg;
}

@media (max-width: 767px) {
    .sp{
    --frame-size : 360px;
}
}
.sp--table-scope{
    width: calc(var(--frame-size));
    overflow: hidden;
    /* border: 5px solid red;; */
    padding-bottom:5em ;
    padding-right:1em ;

    top:50%;
}
.sp--table-wrapper{
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s;

    /* border: 5px solid blue;; */

}
/* @media (max-width: 767px) {
    .sp--table-wrapper{
    display: block;
}
} */



.sp--table-container{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    /* border: 5px solid red; */
    

}

@media (max-width: 767px) {
    .sp--table-container{
    --gap-size: 10.5px;
    height: min-content;

}
#container-1{
    margin:0;
    margin-right: var(--gap-size);
}
#container-2{
    margin:0;
    margin-left: var(--gap-size);
}
}



.sp--table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    
}

.sp--table td, .sp--table th {
    text-align: center;
    padding: 8px;
}

.sp--table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.sp--table thead th {
    color: #ffffff;
    background: var(--green-dark-shaded);
}


.sp--table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.sp--table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsivness */
@media (max-width: 767px) {
    .sp--table {
        display: block;
        width: var(--frame-size);
    }
    .sp--table-container:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    
    }
    .sp--table thead, .sp--table tbody, .sp--table thead th {
        display: block;
    }
    .sp--table thead th:last-child{
        border-bottom: none;
    }
    .sp--table thead {
        float: left;
    }
    .sp--table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .sp--table-wrapper{
        /* margin:0 5%;         */
        width: 100%;
        padding:0 10px;
    }
    .sp--table-container{
        width: 100%;
    }
    .sp--table{
        width: 500px;
    }
    .sp--table td, .sp--table th {
        padding: 20px .625em .625em .625em;
        height: 45px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .sp--table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .sp--table tbody tr {
        display: table-cell;
    }
    .sp--table tbody tr:nth-child(odd) {
        background: none;
    }
    .sp--table tr:nth-child(even) {
        background: transparent;
    }
    .sp--table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .sp--table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .sp--table tbody td {
        display: block;
        text-align: center;
    }
}
.sp--cases{
    list-style: none;
    padding-left: 0;
    margin-left: 5px;
}


  
  
.sp--arrow-btn {
height: 40px;
width: 40px;
border: none;
background-color:transparent;
position: relative;
cursor: pointer;
transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
overflow: hidden;
}
/* @media (max-width: 767px) {
    .sp--arrow-btn{display: none}
} */


  
  .left-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 3px;
    width: 20px;
    display: block;
    transform: rotate(-45deg);
  }
  
  .left-arm:after {
    content: "";
    background-color: var(--green-dark);
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: right center;
    z-index: -1;
  }
  
  .right-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 17px;
    width: 20px;
    display: block;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  
  .right-arm:after {
    content: "";
    background-color: var(--green-dark);
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: left center;
    z-index: -1;
  }
  
  .sp--arrow-btn:hover {
    transition: all 0.1s;
  }
  
  .sp--arrow-btn:hover .left-arm:after {
    transform: rotate(-10deg);
  }
  
  .sp--arrow-btn:hover .right-arm:after {
    transform: rotate(10deg);
  }
  
.sp--download{
    
    width:2em;
    margin-left:1em;
    margin-right:1em;
    margin-bottom: 30px;

    transition:300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sp--download:active{
    opacity:0.7;
    transform:scale(1.2);


}


.sp--download h5{
    margin:0;
    text-align: center;
    margin-left: 0.5em;
}

.user-panel--img{
    width:100%;
}
#sp--download-img{
    transform: scale(1);

}







